<!DOCTYPE html>
<html lang="en">
  <head>  
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> 
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="../assets/images/logo_hethongbig.png" width="220" height="70" style="margin-left: 30px;">
      <a class="navbar-brand text-white setfont" style="margin-left: 30px; font-size: 35px;">ADMIN</a>
    
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/home/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: black;" href="/admin/ticket/index">Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/flight/index">Flight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/plane/index">Plane</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/news/index">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/promotion/index">Promotion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/bill/index">Bill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white" href="/admin/user/index">User</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" style="width: 250px;" placeholder="Search" aria-label="Search">
          <button type="button" class="btn btn-danger">
            <i class="fas fa-search"></i>
          </button>
      </div>
    </nav>       
    <br />  

    <div class="container mt-5">
      <a href="/admin/ticket/add" class="btn btn-success">Thêm Vé mới</a>
      <table class="table">
        <thead>
            <th>Image</th>
            <th>Ngày bay</th>
            <th>Giờ bay</th>
            <th>Giờ đến</th>
            <th>Nơi đi</th>
            <th>Nới đến</th>
            <th>Tên máy bay</th>
            <th>Hãng máy bay</th>
            <th>Loại vé</th>
            <th>Tổng Số kg hành lý</th>
            <th>Tổng giá vé (VNĐ)</th>
            <th></th>
        </thead>
        <tbody>
          <% result.recordset.forEach(function (vemaybay) { %>
            <tr>
              <td>
                <% if (vemaybay.TenHang=="BamBoo Airways") { %>
                  <img src="../assets/images/flights/airlines/bamboo_airway.jpg"
                    class="img-fluid blur-up lazyload" alt="" width="150" height="150">                  
                <% } 
                else if (vemaybay.TenHang=="VietNam Airlines") { %>
                  <img src="../assets/images/flights/airlines/vietnam_airline.png"
                    class="img-fluid blur-up lazyload" alt="" width="150" height="150">                 
                <% }
                else if (vemaybay.TenHang=="VietJet Air") { %>
                  <img src="../assets/images/flights/airlines/vietject_logo.jpg"
                    class="img-fluid blur-up lazyload" alt="" width="150" height="150" style="margin-top: 10px;">                   
                <% } %></td>                   
                <td><%= vemaybay.NgayBay.getDate()%>/<%= vemaybay.NgayBay.getMonth() + 1%>/<%= vemaybay.NgayBay.getFullYear()%></td>
                <td><%= vemaybay.GioBay %></td>
                <td><%= vemaybay.GioDen %></td>
                <td><%= vemaybay.NoiDi %></td>  
                <td><%= vemaybay.NoiDen %></td>
                <td><%= vemaybay.TenMayBay %></td>
                <td><%= vemaybay.TenHang %></td>
                <td><%= vemaybay.TenLoaiVe %></td>
                <% var tonggiave = vemaybay.GiaVe + vemaybay.TienTraThem;
                   var tongsoky = vemaybay.SoKgHanhLy + vemaybay.ThemSoKg; %>
                <td><%= tongsoky%></td>
                <td><%= tonggiave  %></td>                
                <td>
                  <a href="/admin/ticket/edit/<%= vemaybay.idVe %>" class="btn btn-primary">Sửa</a>
                  <a href="/admin/ticket/delete/<%= vemaybay.idVe %>" class="btn btn-danger" style="margin-top: 5px;">Xóa</a>
                </td>
            </tr>                                   
         <% }) %>
        </tbody>
      </table>
    </div> 
  </body>
</html>
