<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-3">
     <h3 class="text-center">Cập nhật Chuyến Bay</h3>
      <form action="/admin/flight/edit" method="post">
      <label for="idchuyenbay">ID Chuyến bay</label>
      <input type="text" name="idchuyenbay" value="<%= data.idchuyenbay %>" class="form-control" readonly>
      <label for="ngaybay">Ngày bay</label>
      <input type="date" name="ngaybay" value="<%= data.ngaybay %>" class="form-control">
      <label for="giobay">Giờ bay</label>
      <input type="text" name="giobay" value="<%= data.giobay %>" class="form-control">
      <label for="gioden">Giờ đến</label>
      <input type="text" name="gioden" value="<%= data.gioden %>" class="form-control">
      <label for="noidi">Nơi đi</label>
      <input type="text" name="noidi" value="<%= data.noidi %>" class="form-control">
      <label for="noiden">Nơi đến</label>
      <input type="text" name="noiden" value="<%= data.noiden %>" class="form-control">
      <label for="noiden">ID máy bay</label>
      <input type="text" name="idmaynay" value="<%= data.idmaynay %>" class="form-control" readonly>     
      <input type="submit" value="Cập nhật" class="btn btn-primary mt-2"> <br>
      <a href="/admin/flight/index">Quay lại?</a>
     </form>
    </div>
  </body>
</html>
