<!DOCTYPE html>
<html lang="en">
  <head>  
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> 
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="../assets/images/logo_hethongbig.png" width="220" height="70" style="margin-left: 30px;">
      <a class="navbar-brand text-white setfont" style="margin-left: 30px; font-size: 35px;">ADMIN</a>
    
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/home/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/ticket/index">Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: black;" href="/admin/flight/index">Flight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/plane/index">Plane</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/news/index">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/promotion/index">Promotion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white;" href="/admin/bill/index">Bill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 20px; font-size: 18px; color: white" href="/admin/user/index">User</a>
          </li>
        </ul>        
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" style="width: 250px;" placeholder="Search" aria-label="Search">
          <button type="button" class="btn btn-danger">
            <i class="fas fa-search"></i>
          </button>
      </div>
    </nav>  
    <br />
    <div class="container mt-3">
      <a href="/admin/flight/add" class="btn btn-success">Thêm mới chuyến máy bay</a>
      <table class="table">
        <thead>
          <th>ID Chuyến bay</th>
          <th>Ngày bay</th>
          <th>Giờ bay</th>
          <th>Giờ đến</th>
          <th>Nơi đi</th>
          <th>Nới đến</th>
          <th>Tên máy bay</th>
          <th>Hãng máy bay</th>
          <th></th>
        </thead>
        <tbody>
          <% print.forEach(function (chuyenbay) { %>
            <tr>  
              <td><%= chuyenbay.idchuyenbay %></td>
              <td><%= chuyenbay.ngaybay %></td>
              <td><%= chuyenbay.giobay %></td>
              <td><%= chuyenbay.gioden %></td>
              <td><%= chuyenbay.noidi %></td>
              <td><%= chuyenbay.noiden %></td>
              <td><%= chuyenbay.tenmaybay %></td>
              <td><%= chuyenbay.hangmaybay %></td>
                <td>
                  <a href="/admin/flight/edit/<%= chuyenbay.idchuyenbay %>" class="btn btn-primary">Sửa</a>
                  <a href="/admin/flight/delete/<%= chuyenbay.idchuyenbay %>" class="btn btn-danger" style="margin-top: 5px;">Xóa</a>
                </td>
            </tr>                                   
         <% }) %>
        </tbody>
      </table>
    </div>      
  </body>
</html>
